body {
    background-color: lightgray;
}

.rec {
    background-color: white;
    position: absolute;
    right: 0px;
    left: 7%;
    top: 14%;
    bottom: 0px;
    padding: 20px;
}

img {
    height: 11%;
    width: 14%;
    position: absolute;
    left: 40px;
    top: 10px;
}

button {
    background-color:#bf1e2d;
    color: white;
    font-size: 15px;
}