body {
    background-color: lightgray;
}

img {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color:#bf1e2d;
    color: white;
    font-size: 18px;
    border-color: white;
    border-width: 3px;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightcol {
    background-color: #e8e7e6;
}
